<!DOCTYPE html>
<html lang="en">
<head>
  <title>Foodtracker-HOME</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   <!--  this is font taken from google site  -->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<style >


*{ margin: 0 ;
padding: 0;
font-family: 'Josefin Sans',sans-serif ;
}

  .carousel-inner img{
  width :100%;
  height :500px;
}
</style>
</head>
<body>
<HEADER>  
          <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
<div >
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">


  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('home')}}">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#contact">CONTACT</a>
    </li>
    <li class="nav-item">
    <a class="nav-link btn btn-danger text-light mx-5" href="{{url_for('register')}}">Register</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-danger navbar-btn mx-5 mr-auto" data-toggle="modal" data-target="#myModal" href="#">Login</a>
    </li>
  </ul>
</nav>
</div>
  <!-- This is login Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Login</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          
                      <form action="" method ="post">
                    {{ form.hidden_tag()}}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
          </div>     
          </form>
          </div>
    </div>  
    </div> 
    </div>
                                                                        
<!-- Now we have the carousel option available here-->
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- Images slideshow-->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1559064368-6f6d5ef84110?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=792&q=80" alt="Los Angeles" width="1100" >
       <div class="carousel-caption">
        <h3>Weight Loss</h3>
        
      </div>  
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1532054241088-402b4150db33?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="Chicago"  width="1100" >
       <div class="carousel-caption">
        <h3>Diet</h3>

        
      </div>  
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1473348164936-13be821e561c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="New York" width="1100" >
       <div class="carousel-caption">
        <h3>Eating Healthy food</h3>
        
      </div>  
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>


 </HEADER>
 <!-- here come the about section -->
 <section >
  <div class="container-fluid">
  <h1 class="text-capitalize text-center pt-5">About Us</h1>
  <hr class="w-25 mx-auto pt-5">
 

  <div class="row mb-5">
  <div class="col-lg-6 col-md-6 col-sd-12"> <img src="https://myevergreenwellness.com/wp-content/uploads/2017/12/Jaime-Brenkus-Must-You-Calorie-Count-To-See-Fat-Loss-Featured-Image-1300x720.jpg" class="container-fluid"></div>
  <div class="col-sd-12 col-md-6 col-12">
            <h1 class="text-center text-capitalize">Who are we? </h1>

  <p class="container-fluid text-capitalize">Foodtrack is an web-app which enables you to track the your daily calories input , protein input and carbohydrate input .<br><br>You can set daily goals for your diet an keep track of what you eat. Also you can your generate monthly diet habbits </p>
  </div>


<div class="row pt-5 ">
 
  <div class="col-sd-12 col-md-6 col-12">
            <h1 class="text-center text-capitalize">Why Foodtracker ? </h1>

  <p class="container-fluid text-capitalize">

Your life, Your choice: 
Are you a gym freak, a guy trying to cut his fat or just a person who wants to make sure they live a healthy lifestyle? We got everything covered. choose your own diet plan and start tracking the daily nourishment you get.
<br>
<br>

<p class="container-fluid text-capitalize">
A person should ideally consume 2L of water per day. How much do you consume? Dont know? no worries. With FoodTracker you can make sure that you are never dehydrated and live a fluid lifestyle.<br><br>You can Keep control of fats , proteins, carbohydates on daily as well as weekly basis. No need to Keep count on food you eat everytime , we do it for you here at Food tracker.com 
</p>
 </div>
  <div class="col-lg-6 col-md-6 col-sd-12"> <img src="https://images.unsplash.com/photo-1535914254981-b5012eebbd15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="container-fluid"></div>
  <br><br><br><br>
  </div>


  <div class="container-fluid " align="center">
    <br><br><br><br><br><br>
     <h1 class="text-capitalize text-center pt-5">Food Tracker</h1>
  <hr class="w-25 mx-auto pt-5">
  <p class="text-capitalize">FoodTrackerPro : 
    Arent satisfied with the preset goals? Want to get your own dieticians goals in the app? or just get suggestions about the kind of food you need to get that bod you have been working hard for? well we are working towards getting you these features in future. Stick around to find your perfect nourishment part</p>
    <br><br>
    <img src="static/Foodtracker.jpeg" width="400" height="350">
    <br><br>
        
  </div>






  

<!--Facebook-->
<button type="button" class="btn btn-fb"><i class="fa fa-facebook"></i></button>




<!-- now we are going to use the cards -->
  <div class="row pt-5 m">
  <div class="col-lg-12" >
   <h1 class="text-center text-capitalize">Our Developers</h1>
   <br><br><br>
</div>
  <div class="col-md-4 col-sd-12 col-lg-4">
<div class="card" style="width:400px">
 <img class=" rounded-circle card-img-top device-width height:80 "  src="static/Ayush.jpeg">
 <div class="card-body">
   <h4 class="card-title">Ayush Singh</h4>
   <p class="card-text">Major in Backend Development , Minor Front-end development ,API
    <br>
    contact me at: <a href="#">singhayush4499@gmail.com</a>    <br>
    click the link to view my Instagram account</p>
   <a href="https://www.instagram.com/singhayush781/" class="btn btn-primary">See Profile</a>
</div>
</div>

</div>
   <div class="col-md-4 col-sd-12 col-lg-4">
<div class="card" style="width:400px">
 <img  class=" rounded-circle device-width height:80 card-img-top"  src="static/Jaskeerat.jpeg" >
 <div class="card-body">
   <h4 class="card-title">Jaskeerat Singh Saluja</h4>
   <p class="card-text">Major Front-end Development, Minor Back-end-Development and API
    <br>
    contact me at: <a href="">salujajaskeerat@gmail.com</a>    <br>
    click the link to view my Instagram account
  </p>
   <a href="https://www.instagram.com/jaskeeratsinghsaluja/" class="btn btn-primary">See Profile</a>
</div>
</div>
</div>
   <div class="col-md-4 col-sd-12 col-lg-4">
  <div class="card" style="width:400px">
 <img class="rounded-circle card-img-top device-width height:80" class="rounded-circle" src="static/Prateek.jpeg">
 <div class="card-body">
   <h4 class="card-title">Prateek Sinha</h4>
   <p class="card-text">Major In API, Minor in front end 
    <br><br>
    contact me at: <a href="">prateeksinha18@gmail.com</a>     <br><br>
    click the link to view my Instagram account</p>
   <a href="https://www.instagram.com/moonstruck.1991/" class="btn btn-primary">See Profile</a>
 </div>
</div>
   </div>
</div>
</div>

<!-- cards use end here -->

  <!-- here comes the contact option inside the webpage -->
<section id="contact">
 
 <div class="container-fluid pt-5 ">
  <h1 class="text-capitalize text-center">Contact us</h1>
  <hr class="w-25 mx-auto pt-5">
  <p>Drop your Queries to <a href="https://www.mail.google.com/mail">foodtracker@gmail.com</a><br>
     Main Office: Satpura Hostel IIT DELHI</p>
 </div>

 </section>
</div>
</div>

</section>


</div>
